<div id={{id}} class="modal" style="display: none">
    <div class="modal-header">
        <span class="close">&times</span>
    </div>
    <div class="modal-body">
        {{{contents}}}
    </div>
</div>
