<div class="bar-results-columns">
    <div class="bar-results-col-left">Answers</div>
    <div class="bar-results-col-right">Count / %</div>
</div>
<div class="bar-results">
    <div class="bar-result">
        <div class="bar-result-graph" style="width: 20%"></div>
        <div class="bar-result-text">Answer #1 Text</div>
        <div class="bar-result-label">3 / 20%</div>
    </div>
    <div class="bar-result">
        <div class="bar-result-graph" style="width: 30%"></div>
        <div class="bar-result-text">Answer #2 Text</div>
        <div class="bar-result-label">9 / 30%</div>
    </div>
    <div class="bar-result">
        <div class="bar-result-graph" style="width: 45%"></div>
        <div class="bar-result-text">Answer #3 Text</div>
        <div class="bar-result-label">14 / 45%</div>
    </div>
    <div class="bar-result">
        <div class="bar-result-graph" style="width: 10%"></div>
        <div class="bar-result-text">Answer #4 Text</div>
        <div class="bar-result-label">2 / 10%</div>
    </div>
</div>
