<div class="poll-question-control">
    <p> Enter a new poll question and answers below.  </p>
    <input type="text" class="question-input" placeholder="Enter the poll question" autofocus />
</div>
<ol class="poll-entry-list">
    <li class="poll-answer-control">
        <input type="text" class="answer-input" placeholder="First Answer" />
    </li>
    <li class="poll-answer-control">
        <input type="text" class="answer-input" placeholder="Second Answer" />
    </li>
</ol>

<div style="text-align: right">
    <a href="javascript: false;" class="add-more-button">Add another answer</a>
</div>
<div class="modal-controls">
    <button class="btn primary-btn">Save Poll</button>
</div>
